
        
        <div class = "jumbotron">

        </br>
        <div class = "row">
          <div class="col-lg-12">
            <h1>GrubScore:</h1>
                <div class="panel panel-default">
                    <div class="panel-body">
                    <div class="panel-heading"><h2>Louisville Restaurants</h2></div>
                    <table class="table">
                   
                     <tr> <% @businesses.each do |business| %></tr>
                        <td><%= business.business_id %></td>
                        <td><%= business.name %></td>
                        
                        
                        <td><%= business.phone_number %></td>
                        <td><%= link_to 'Details', business %></td>
                        
                      
                    <% end %>
                
                
                </table>
                
            </div>
           </div>
         </div>
         </div>
         </div>
       
    
          <div class="col-lg-4">
          <div>
            <%= link_to 'New Business', new_business_path %>
            <%= form_tag(businesses_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Businesses" %>
            <%= submit_tag "Search" %>

          <% end %>

            <%= paginate @businesses %>   
          </div>
        </div>

        
        
     
      
    
                 
            
     

        

  