
<div class ="container">
<div class = "jumbotron">
<hr>
	</br>
    <div class = "row">
      <div class="col-lg-12">

				<p id="notice"><%= notice %></p>

				<p>
				  <strong>Business:</strong>
				  <%= @business.name %>
				</p>

				<p>
				  <strong>Address:</strong>
				  <%= @business.address %>
				</p>

				<p>
				  <strong>City:</strong>
				  <%= @business.city %>
				</p>

				<p>
				  <strong>State:</strong>
				  <%= @business.state %>
				</p>

				<p>
				  <strong>Zipcode:</strong>
				  <%= @business.postal_code %>
				</p>

				<p>
				  <strong>Phone:</strong>
				  <%= @business.phone_number %>
				</p>


			</div>
		</div>
	</div>

		<%= link_to 'Edit', edit_business_path(@business) %> |
		<%= link_to 'Back', businesses_path %>

</div>


