

      
    <div class = "jumbotron">
      <div class="container">
        <div class="row">
        <hr>
          <h1>GrubScore</h1>
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="panel-heading"><h2>Louisville Restaurants</h2></div>
                  <table class="table">
                    <tr><% @lou_violations.each do |lou_violation| %></tr>
                    <td><%= lou_violation.business_id %></td>
                    <td><%= lou_violation.date %></td>
                    <td><%= lou_violation.description %></td>
                    <td><%= link_to 'Details' %> 
                  </td> 
                <% end %>
                </table>
                <%= paginate @lou_violations %> 
              </div>
            </div>
           </div>
         </div>
        </div>
        
  


