<h1>GrubScore</h1>
              <button type ="button" class="button-warning"> <%= link_to 'Sign Up', new_user_path %></h3>
                  </button>
                  <div class="panel panel-default">
                    <div class="panel-body">
                    <div class="panel-heading"><h2>Louisville Restaurants</h2></div>
                    <table class="table">
                    <tr><% @lou_inspections.each do |lou_inspection| %></tr>
                    <td><%= lou_inspection.business_id %></td>
                    <td><%= lou_inspection.score %></td>
                    <td><%= lou_inspection.visit %></td>
                    <td><%= link_to 'Details' %>
                    
                  </td>
                
                <% end %>
              </table>
              </div>

