<!-- Jumbotron -->
<div class="jumbotron">
  <div class="container">
    <div class="col-xs-4, col-md-5 pull-right">
          
      <h1>GrubScore</h1>
           
        <p class= "lead">
        Restaurant Inspection Leaderboard
        </p>

				<h2>Log In</h2>
				<%= form_tag user_sessions_path do %>
				  <%= label_tag :email, "User Email" %>
				  <%= text_field_tag :email, params[:email] %>
				  <br />

				  <%= label_tag :password, "Password" %>
				  <%= password_field_tag :password %>
				  <br />
				  
			
    			<%= submit_tag "Log In" %>
  				
				  <%= link_to "Forgot Password", new_password_reset_path %>
				<% end %>
				</div>

				<div class = "col-xs-8, col-md-7">           
      		<%= render 'logo' %> 
    		</div> 

				<div>
					<p class="ft-copy">No account? <li><%= link_to "Sign Up", new_user_path %></li></p>
		</div>
	
</div>
</div>


