<!DOCTYPE html>
<html>
<head>
  <title>GrubScore</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  

  <% flash.each do |type, message| %>
  <div class="alert flash <%= type %>">
    <%= message %>
  </div>
  <% end %>

<div class="content">
  <%= yield %>
  <!-- <div class="">
    <!-- <h1><%= link_to "GrubScore", root_path %></h1> -->
    <!-- <ul>
      <li><%= link_to "Businesses", businesses_path %></li>
      <li><%= link_to "Sign Up", new_user_path %></li>
    </ul>
    <br class="clear" />
  </div> --> 
</div>

</body>
</html>
